/* <!-- #2 #css #elements --> */


    /* #2 #colorful #palette is:
      * Background: #F5F5F5 (GREY 100)
      * Primary Text: black

      * Primary color: #3F51B5 (INDIGO)
      * Primary color_text : white
      * Accent color: #CDDC39 (LIME)
      * Accent color_text: black
    */

    /***** GLOBAL STYLES *****/
    * {
        margin: 0;
        padding: 0;          
        font-family: 'Roboto', sans-serif;
    }
    body {
        background-color: #F5F5F5;
    }
    button, strong {
        text-transform: uppercase;
    }

    /***** APP BAR STYLES *****/
    h1 {
        background-color: #3F51B5;
        color: white;
    }
  
    /***** CHANNELS LIST STYLES *****/
    ul {
        background-color: white;
        list-style-type: none;
    }
  
    /***** TAB BAR STYLES *****/
    #tab-bar {
        text-transform: uppercase;
        background-color: white;
    }
    #tab-bar button {
        width: 33%;
        height: 72px;
        display: inline-block;
        background-color: white;
        color: black;
        border: none;
        font-size: 13px;
        text-align: center;
        padding: 16px;
    }
    #tab-bar button img {
        display: block;
        margin: 0 auto 4px;
    }
    #tab-bar button.selected {
        border-bottom: 4px solid #3F51B5;
    }
  
    /***** MESSAGES STYLES *****/
    .message {
        width: 80%;
        margin-bottom: 8px;
        margin-left: 2.5%;
        text-align: left;
    }
    .own-message {
        margin-left: 17.5%;
    }
    .message strong {
        font-size: medium;
    }
    .message p {
        padding: 16px;
        background-color: white;
    }
    .message em {
        font-size: larger;
        font-style: normal;
    }
    .message h3 a {
        color: black;        
    }
    .message button {
        background-color: #CDDC39;
    }